<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen flex justify-center items-center px-2">
        <div class="border border-gray-300 rounded-md shadow-sm p-4 max-w-lg w-full space-y-6">
            <div class="space-y-1">
                <h1 class="text-2xl font-bold">
                    Reset Password
                </h1>
                <p class="text-gray-500">
                    Set your new password. Min 8 characters.
                </p>
            </div>

            <div class="w-full rounded-md h-0.5 bg-emerald-200"></div> 

            <form
                class="space-y-4"
            >
                <div class="space-y-1">
                    <label
                        class="text-gray-500 font-semibold"
                    >
                        Password
                    </label>
                    <input
                        class="block w-full rounded-md outline-none border border-gray-300 p-2"
                        name="password"
                        type="password"
                        required
                        placeholder="Your password..."
                    >
                </div>

                <div class="space-y-1">
                    <label
                        class="text-gray-500 font-semibold"
                    >
                        Repeat password
                    </label>
                    <input
                        class="block w-full rounded-md outline-none border border-gray-300 p-2"
                        name="rePassword"
                        type="password"
                        required
                        placeholder="Repeat your password..."
                    >
                </div>

                <button
                    class="w-full py-3 rounded-md bg-emerald-200 text-emerald-950 font-bold hover:bg-emerald-950 hover:text-white transition-all duration-300 ease-in-out"
                    type="submit"
                >
                    Reset password
                </button>
            </form>
        </div>
    </div>
</body>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const password = form.password.value;
        const rePassword = form.rePassword.value;
        const token = window.location.pathname.split('/').pop();

        if (password !== rePassword) {
            alert('Passwords do not match');
            return;
        }

        const response = await fetch('/auth/reset-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                password,
                rePassword,
                token
            }),
        });

        const data = await response.json();

        if (data.error) {
            alert(data.error);
            return;
        }
    });
</script>
</html>